@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Credential Information</h3>
<p>The following values come from Azure Key Vault using SDK</p>
<address>
    <strong>UserName:</strong> @ViewBag.DbUserName<br />
    <strong>Password:</strong> @ViewBag.DbPassword
</address>
