@{
    ViewBag.Title = "About";
}

<div class="container">
    <br />
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>The following values come from Azure Key Vault</p>
    <address>
        <strong>UserName:</strong> @ViewBag.UserName<br />
        <strong>Password:</strong> @ViewBag.Password
    </address>

    <hr />
</div>

