@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h3>Credential Information</h3>
<p>The following values come from Azure Key Vault using API</p>
<address>
    <strong>Password:</strong> @ViewBag.DbPassword
</address>
